<div class="card mt-3 p-1 d-flex flex-column justify-content-between">
  <div class="m-3">
    Question: <input type="text" [(ngModel)]="newQuestionPrompt">
  </div>
  <div class="m-3">
    Response Type: <select [(ngModel)]="newQuestionResponseType">
    <option value=""></option>
    <option value="True/False">True/False</option>
    <option value="Multiple Choice">Multiple Choice</option>
    <option value="Text">Text</option>
  </select>
  </div>
  <div *ngIf="newQuestionResponseType === 'Multiple Choice'">
    <div class="m-3" *ngFor="let option of newQuestionResponseOptions">

      <div *ngIf="optionToEdit !== option">
        {{option}}
        <button class="ms-2 border-0 bg-transparent" (click)="onEditOptionClick(option)"><i class="bi bi-pencil-square"></i></button>
        <button class="ms-2 border-0 bg-transparent" (click)="removeOption(option)"><i class="bi bi-trash3"></i>
        </button>
      </div>
      <div *ngIf="optionToEdit === option">
        <input type="text" [(ngModel)]="newQuestionMCOption">
        <button class="ms-2 border-0 bg-transparent" (click)="onSaveOptionClick(option)"><i class="bi bi-check-square"></i></button>
        <button class="ms-2 border-0 bg-transparent" (click)="cancelOptionEditClick()"><i class="bi bi-x-square"></i>
        </button>
      </div>

    </div>

    <div *ngIf="!optionToEdit">
      <input placeholder="Create option..." type="text" [(ngModel)]="newQuestionMCOption">
      <button class="btn btn-link-dark" (click)="addOption()">Add Option</button>
    </div>
  </div>
  </div>
  <div class="card-footer m-3">
    <div>{{blankFieldMessage}}</div>
    <div *ngIf="!questionToEdit" class="d-flex justify-content-around">
      <button (click)="onCreateQuestionClick()">Create Question</button>
      <button (click)="onCreateCancel()">Cancel</button>
    </div>
    <div *ngIf="questionToEdit" class="d-flex justify-content-around">
      <button (click)="onEditSaveClick()">Save</button>
      <button (click)="onEditCancelClick()">Cancel</button>
    </div>
  </div>

