<div *ngIf="!onEditQuestion" class="card mt-3 p-1 d-flex flex-row justify-content-between">
  <div *ngIf="question.responseType === 'Text'">
    <div>{{question.index + 1}}. {{question.prompt}}</div>
    Response: <input type="text" disabled>
  </div>

  <div *ngIf="question.responseType === 'Multiple Choice'">
    <div>{{question.index + 1}}. {{question.prompt}}</div>
    <div *ngFor="let option of question.responseOptions">
      <input disabled type="radio" name="show options" id="{{option}}" value="{{option}}">
      <label class="ms-2" for="{{option}}">{{option}}</label>
    </div>
  </div>

  <div *ngIf="question.responseType === 'True/False'">
    <div>{{question.index + 1}}. {{question.prompt}}</div>
    <div *ngFor="let option of question.responseOptions">
      <input disabled type="radio" name="show options" id="{{option}}" value="{{option}}">
      <label for="{{option}}">
        {{option}}
      </label>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="d-flex flex-column m-2 justify-content-center">
      <Button class="border-0 bg-transparent" *ngIf="question.index !== 0" (click)="onUpClick()"><i class="bi bi-caret-up-fill"></i></Button>
      <Button class="border-0 bg-transparent" *ngIf="survey.questionList.length - 1 !== question.index" (click)="onDownClick()"><i class="bi bi-caret-down-fill"></i></Button>
    </div>
    <div>
      <button (click)="onEditClick()"><i class="bi bi-pencil-square"></i></button>
      <button (click)="onDeleteClick()"><i class="bi bi-trash3"></i></button>
    </div>
  </div>
</div>



<!--                IS EDITING-->
<div *ngIf="onEditQuestion">
  <app-create-question
  [questionToEdit]="onEditQuestion"
  (onEditEvent)="onEditQuestionEvent($event)"></app-create-question>
</div>

