<div class="d-flex flex-column justify-content-center vh-100" *ngIf="!viewOption">
  <h1 class="text-center m-4">Informed</h1>
  <div class="d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column ">
      <button class="btn btn-lg btn-info m-3" (click)="viewOptionClick(1)">View All Surveys</button>
      <button class="btn btn-lg btn-info m-3" (click)="viewOptionClick(2)">View All Responses</button>
      <button class="btn btn-lg btn-info m-3" (click)="viewOptionClick(3)">Create New Survey</button>
    </div>
  </div>
</div>

<div class="vh-100"  *ngIf="viewOption">
 <nav class="navbar shadow sticky-top bg-info d-flex justify-content-center flex-column">
  <h1 class="text-center m-4">Informed</h1>
  <div class=" w-100 d-flex flex-row justify-content-start">
    <button class="btn btn-sm btn-primary" (click)="viewAllOptionsClick()">View All Options</button>
  </div>


 </nav>

  <div *ngIf="viewOption===1">
    <app-survey-list></app-survey-list>
  </div>

  <div *ngIf="viewOption===2">
    <app-response-list></app-response-list>
  </div>


  <div *ngIf="viewOption===3">
    <app-create-survey></app-create-survey>
  </div>
</div>
