<div class="d-flex align-items-center flex-column">
  <h2 *ngIf="!selectedResponse">All Survey Responses</h2>
  <h3 *ngIf="selectedResponse">{{selectedResponse.surveyTitle}}</h3>

  <div class="w-75">
    <div *ngIf="!selectedResponse">
      <div *ngFor="let response of responseList" class="card d-flex flex-row justify-content-between align-items-center p-2 mb-1">
        <div class="d-flex justify-content-start w-75">
          <div class="w-25">Date: {{response.dateFinished | date}}</div>
          <div>Title: {{response.surveyTitle}}</div>
        </div>
        <button (click)="onViewResponseClick(response)">View Response</button>
      </div>
    </div>

    <div *ngIf="selectedResponse">
      <app-response
        [response]="selectedResponse"
      ></app-response>
      <button (click)="onBackClick()">Back</button>
    </div>
  </div>
</div>
